:root.theme-default {
    --background-color: #ffffff;
    --text-color: #2c3e50;
    --accent-primary-color: rgb(0, 180, 157);
    --accent-secondary-color: rgb(255, 5, 110);
    --disabled-color: rgba(0, 180, 156, 0.5);
    --shadow-color: gray;
    --border-color: lightgray;
    --font-family: sans-serif;
    --panel-background-color: rgb(248, 248, 248);
    --error-color: rgb(255, 120, 120);
    --chat-bubble-background-color: var(--background-color);
    --overlay-color: rgba(255, 255, 255, .7);
}

:root.theme-dark {
    --background-color: #4a4a4a;
    --text-color: #dedede;
    --accent-primary-color: rgb(0, 180, 157);
    --accent-secondary-color: rgb(255, 5, 110);
    --disabled-color: rgba(0, 180, 156, 0.5);
    --shadow-color: gray;
    --border-color: darkgray;
    --font-family: sans-serif;
    --panel-background-color: rgb(53, 53, 53);
    --error-color: rgb(255, 120, 120);
    --chat-bubble-background-color: var(--background-color);
    --overlay-color: rgba(0, 0, 0, .7);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color);
    transition: color 0.5s;

    &:hover {
        color: var(--accent-primary-color);
    }
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=checkbox],
textarea,
select {
    color: var(--text-color);
    padding: 0.2rem 0.6rem;
    border-radius: 0.5rem;
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    transition: all 0.1s;

    &:hover,
    &:focus {
        border-color: var(--accent-primary-color);
        box-shadow: 0 0 5px var(--accent-primary-color);
        outline: none;
    }
}

input[type=submit],
button {
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--border-color);
    transition: all 0.1s;
    cursor: pointer;

    &:hover {
        background-color: var(--accent-primary-color);
        border-color: transparent;
        color: var(--background-color);
        box-shadow: 0 0 5px var(--accent-primary-color);
    }

    &:active {
        color: var(--text-color);
    }

    &:disabled {
        cursor: not-allowed;
        background-color: var(--disabled-color);
    }
}

#app {
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.add-opacity {
    opacity: 20%;
}

.no-opacity {
    opacity: 100%;
}

.hide-mobile-devices {
    display: block !important;
}

.hide-big-screen-devices {
    display: none !important;
}

.is-selected {
    border-color: #00B49D;
    border-width: 1px;
    color: #00B49D !important;
}

@media screen and (max-width: 600px) {
    .hide-mobile-devices {
        display: none !important;
    }

    .hide-big-screen-devices {
        display: block !important;
    }
}
