@font-face {
    font-family: "Sansation";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/sansation/Sansation_Light.woff2") format("woff2"),
        url("/fonts/sansation/Sansation_Light.woff") format("woff"),
        url("/fonts/sansation/Sansation_Light.ttf") format("truetype");
}

@font-face {
    font-family: "Sansation";
    font-weight: 700;
    font-style: bold;
    src: url("/fonts/sansation/Sansation_Bold.woff2") format("woff2"),
        url("/fonts/sansation/Sansation_Bold.woff") format("woff"),
        url("/fonts/sansation/Sansation_Bold.ttf") format("truetype");
}

:root {
    --font-small: 0.8rem;
    --font-medium: 1rem;
    --font-large: 1.2rem;
}

:root.theme-default {
    --button-color: #176087;
    --box-stroke: #bcd0ce;
    --title-text: #5a5a5a;
    --basic-text: #000000;
    --panel-background-color: #e3fffa;
    --panel-menu-background-color: #ffffff;
    --background-color: #ffffff;
    --button-text: #ffffff;
    --ia-chat-box-background: #ffffff;
    --user-chat-box-background: #f1f4f9;
    --dividers: #bcd0ce;
    --highlight: #00b49d;
    --button-inactive: #697f8a;
    --question-background: #0d5c63;
    --delete-color: #b6465f;
    --menu-highlight: #d9f0ff;
    --scrollbar-background: #c1d6d3;
    --questionnaire-icon-background: #00b49d;
    --chat-tag-background: #ffffff;
    --menu-active: #d9f0ff;
    --button-gradient-color: linear-gradient(#2374ab, #176087);
    --chat-history-item-date: #176087;
    --chat-bubble-options-button-hover: #d9f0ff;
    --back-ground-texture: url("@/assets/images/AIRe-background-texture-lightmode.png");

    /*the next ones should be deleted*/
    --text-color: #2c3e50;
    --accent-primary-color: rgb(0, 180, 157);
    --accent-secondary-color: rgb(255, 5, 110);
    --disabled-color: rgba(128, 128, 128, 0.2);
    --shadow-color: gray;
    --border-color: lightgray;
    --font-family: "Sansation", sans-serif;
    --error-color: rgb(255, 120, 120);
    --chat-bubble-background-color: var(--background-color);
    --overlay-color: rgba(255, 255, 255, 0.7);
}

:root.theme-dark {
    --button-color: #176087;
    --box-stroke: #176087;
    --title-text: #5a5a5a;
    --basic-text: #ffffff;
    --panel-background-color: #e3fffa;
    --panel-menu-background-color: #47425e;
    --background-color: #ffffff;
    --button-text: #ffffff;
    --ia-chat-box-background: #0d5c63;
    --user-chat-box-background: #144044;
    --dividers: #00b49d;
    --highlight: #00b49d;
    --button-inactive: #697f8a;
    --question-background: #0d5c63;
    --delete-color: #b6465f;
    --menu-highlight: #d9f0ff;
    --scrollbar-background: #6c687e;
    --questionnaire-icon-background: #00b49d;
    --chat-tag-background: #f1f4f9;
    --menu-active: #2374ab80;
    --button-gradient-color: linear-gradient(#2374ab, #176087);
    --chat-history-item-date: #47425e;
    --chat-bubble-options-button-hover: rgba(0, 180, 157, 0.2);
    --back-ground-texture: url("@/assets/images/AIRe_BGtexture_darkmode.png");

    /*the next ones should be deleted*/
    --text-color: #dedede;
    --accent-primary-color: rgb(0, 180, 157);
    --accent-secondary-color: rgb(255, 5, 110);
    --disabled-color: rgba(128, 128, 128, 0.2);
    --shadow-color: gray;
    --border-color: darkgray;
    --font-family: "Sansation", sans-serif;
    --panel-background-color: rgb(53, 53, 53);
    --error-color: rgb(255, 120, 120);
    --chat-bubble-background-color: var(--background-color);
    --overlay-color: rgba(0, 0, 0, 0.7);
}

html {
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    height: 100dvh;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color);
    transition: color 0.5s;

    &:hover {
        color: var(--accent-primary-color);
    }
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: var(--font-large);
}

h2,
h3,
h4,
h5 {
    font-size: var(--font-medium);
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="checkbox"],
textarea,
select {
    color: var(--text-color);
    padding: 0.2rem 0.6rem;
    border-radius: 0.5rem;
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    transition: all 0.1s;
    font-size: var(--font-medium);

    &:hover,
    &:focus {
        border-color: var(--accent-primary-color);
        box-shadow: 0 0 5px var(--accent-primary-color);
        outline: none;
    }
}

input:disabled,
input:read-only {
    background-color: var(--disabled-color);
}

input[type="submit"],
button {
    color: var(--button-text);
    background-color: var(--button-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.1s;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: bold;

    &:hover {
        background-color: var(--accent-primary-color);
        border-color: transparent;
        color: var(--background-color);
        box-shadow: 0 0 5px var(--accent-primary-color);
    }

    &:active {
        color: var(--text-color);
    }

    &:disabled {
        cursor: not-allowed;
        background-color: var(--disabled-color);
    }
}

#app {
    color: var(--basic-text);
    background-color: var(--background-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.font-normal {
    font-size: var(--font-medium);
}

.font-large {
    font-size: var(--font-large);
}
