.icon {
    background-repeat: no-repeat;
}

.theme-default .icon.frontpage-button {
    background-image: url("@/assets/icons/frontpage-button-default.svg");
}

.theme-default .icon.back-button {
    background-image: url("@/assets/icons/back-button-default.svg");
}

.theme-default .icon.close-window {
    background-image: url("@/assets/icons/close-window-default.svg");
}

.theme-default .icon.content-exercise {
    background-image: url("@/assets/icons/content-exercise-default.svg");
}

.theme-default .icon.content-image {
    background-image: url("@/assets/icons/content-image-default.svg");
}

.theme-default .icon.content-video {
    background-image: url("@/assets/icons/content-video-default.svg");
}

.theme-default .icon.delete-bin {
    background-image: url("@/assets/icons/delete-bin-default.svg");
    width: 2rem;
    height: 2.7rem;
}

.theme-default .icon.chat-option-desktop {
    background-image: url("@/assets/icons/chat-option-default-desktop.svg");
}

.theme-default .icon.download {
    background-image: url("@/assets/icons/download-default.svg");
}

.theme-default .icon.edit {
    background-image: url("@/assets/icons/edit-default.svg");
}

.theme-default .icon.info {
    background-image: url("@/assets/icons/info-default.svg");
}

.theme-dark .icon.chat-history-dark-mobile {
    background-image: url("@/assets/icons/chat-history-dark-mobile.svg");
}

.theme-default .icon.chat-history-light-mobile {
    background-image: url("@/assets/icons/chat-history-light-mobile.svg");
}

.theme-dark .icon.catalogue-content-dark-mobile {
    background-image: url("@/assets/icons/catalogue-content-dark-mobile.svg");
}

.theme-default .icon.catalogue-content-light-mobile {
    background-image: url("@/assets/icons/catalogue-content-light-mobile.svg");
}

.theme-dark .icon.main-menu-dark-mobile {
    background-image: url("@/assets/icons/main-menu-dark-mobile.svg");
}

.theme-default .icon.main-menu-light-mobile {
    background-image: url("@/assets/icons/main-menu-light-mobile.svg");
}

.theme-dark .icon.new-chat-dark-mobile {
    background-image: url("@/assets/icons/new-chat-dark-mobile.svg");
}

.theme-default .icon.new-chat-light-mobile {
    background-image: url("@/assets/icons/new-chat-light-mobile.svg");
}

.theme-dark .icon.settings-dark-mobile {
    background-image: url("@/assets/icons/settings-dark-mobile.svg");
}

.theme-default .icon.settings-light-mobile {
    background-image: url("@/assets/icons/settings-light-mobile.svg");
}

.theme-default .icon.tilt-mobile-default {
    background-image: url("@/assets/icons/tilt-mobile-default.svg");
}

.theme-dark .icon.user-profile-dark-mobile {
    background-image: url("@/assets/icons/user-profile-dark-mobile.svg");
}

.theme-default .icon.user-profile-light-mobile {
    background-image: url("@/assets/icons/user-profile-light-mobile.svg");
}

.theme-dark .icon.play-video-dark {
    background-image: url("@/assets/icons/play-video-dark.svg");
}

.theme-default .icon.play-video-light {
    background-image: url("@/assets/icons/play-video-light.svg");
}

.theme-default .icon.questionnaire-answer {
    background-image: url("@/assets/icons/questionnaire-answer.svg");
}

.theme-default .icon.questionnaire-question-default {
    background-image: url("@/assets/icons/questionnaire-question-default.svg");
}

.theme-dark .icon.speech-to-text-dark {
    background-image: url("@/assets/icons/speech-to-text-dark.svg");
}

.theme-default .icon.speech-to-text-default {
    background-image: url("@/assets/icons/speech-to-text-default.svg");
}

.theme-default .icon.summary-switch-default {
    background-image: url("@/assets/icons/summary-switch-default.svg");
}

.theme-default .icon.update-default {
    background-image: url("@/assets/icons/update-default.svg");
}
