.icon {
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.icon.frontpage-button {
    background-image: url("@/assets/icons/login-frontpage-button.svg");
    display: flex;
    width: 20rem;
    height: 5rem;
    font-size: var(--font-medium);
    color: var(--button-text);
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-size:cover;
}

.theme-default .icon.back-button {
    background-image: url("@/assets/icons/back-button-default.svg");
}

.icon.close-window {
    background-image: url("@/assets/icons/close-window-default.svg");
    width: 1.5rem;
    height: 1.5rem;
}

.theme-default .icon.content-exercise {
    background-image: url("@/assets/icons/content-exercise-default.svg");
}

.icon.content-image {
    background-image: url("@/assets/icons/content-image-default.svg");
}

.icon.content-video {
    background-image: url("@/assets/icons/content-video-default.svg");
}

.icon.delete-bin {
    background-image: url("@/assets/icons/delete-bin-default.svg");
    width: 2rem;
    height: 2rem;
}

.icon.chat-option-desktop {
    background-image: url("@/assets/icons/chat-option-default-desktop.svg");
    width: 1.3rem;
    height: 1.3rem;
}

.icon.download {
    background-image: url("@/assets/icons/download-default.svg");
}

.icon.edit {
    background-image: url("@/assets/icons/edit-default.svg");
    width: 1.2rem;
    height: 1.2rem;
}

.theme-default .icon.info {
    background-image: url("@/assets/icons/info-default.svg");
}

.theme-dark .icon.chat-history-mobile {
    background-image: url("@/assets/icons/chat-history-dark-mobile.svg");
    width: 2rem;
    height: 2rem;
    transform: scale(1.4);
}

.theme-default .icon.chat-history-mobile {
    background-image: url("@/assets/icons/chat-history-light-mobile.svg");
    width: 2rem;
    height: 2rem;
    transform: scale(1.4);
}

.theme-dark .icon.catalogue-content-mobile {
    background-image: url("@/assets/icons/catalogue-content-dark-mobile.svg");
    width: 2rem;
    height: 2rem;
}

.theme-default .icon.catalogue-content-mobile {
    background-image: url("@/assets/icons/catalogue-content-light-mobile.svg");
    width: 2rem;
    height: 2rem;
}

.theme-dark .icon.main-menu-mobile {
    background-image: url("@/assets/icons/main-menu-dark-mobile.svg");
    width: 2rem;
    height: 2rem;
}

.theme-default .icon.main-menu-mobile {
    background-image: url("@/assets/icons/main-menu-light-mobile.svg");
    width: 2rem;
    height: 2rem;
}

.theme-dark .icon.new-chat-mobile {
    background-image: url("@/assets/icons/new-chat-dark-mobile.svg");
    width: 2rem;
    height: 2rem;
}

.theme-default .icon.new-chat-mobile {
    background-image: url("@/assets/icons/new-chat-light-mobile.svg");
    width: 2rem;
    height: 2rem;
}

.theme-dark .icon.settings-mobile {
    background-image: url("@/assets/icons/settings-dark-mobile.svg");
    width: 2rem;
    height: 2rem;
}

.theme-default .icon.settings-mobile {
    background-image: url("@/assets/icons/settings-light-mobile.svg");
    width: 2rem;
    height: 2rem;
}

.theme-default .icon.tilt-mobile-default {
    background-image: url("@/assets/icons/tilt-mobile-default.svg");
}

.theme-dark .icon.user-profile-mobile {
    background-image: url("@/assets/icons/user-profile-dark-mobile.svg");
    width: 2rem;
    height: 2rem;
    margin-left: 0.38rem;
}

.theme-default .icon.user-profile-mobile {
    background-image: url("@/assets/icons/user-profile-light-mobile.svg");
    width: 2rem;
    height: 2rem;
    margin-left: 0.38rem;
}

.theme-dark .icon.play-video {
    background-image: url("@/assets/icons/play-video-dark.svg");
}

.theme-default .icon.play-video {
    background-image: url("@/assets/icons/play-video-light.svg");
}

.icon.questionnaire-answer-default {
    background-image: url("@/assets/icons/questionnaire-answer-default.svg");
}

.icon.questionnaire-question-default {
    background-image: url("@/assets/icons/questionnaire-question-default.svg");
}

.theme-dark .icon.speech-to-text {
    background-image: url("@/assets/icons/speech-to-text-dark.svg");
}

.theme-default .icon.speech-to-text-default {
    background-image: url("@/assets/icons/speech-to-text-default.svg");
}

.icon.summary-switch-default {
    background-image: url("@/assets/icons/summary-switch-default.svg");
    width: 2rem;
    height: 2rem;
}

.theme-default .icon.update-default {
    background-image: url("@/assets/icons/update-default.png");
}

.icon.send-message-default {
    background-image: url("@/assets/icons/send-message-default.svg");
}

.icon.chatbox-content-default {
    background-image: url("@/assets/icons/chatbox-content-default.svg");
}